body {
    line-height: 1.44444444;
    letter-spacing: normal;
    font-family: Inter var, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: grey;
    background: #fff;
    font-size: 18px;
    border: none;
    margin: 0;
    padding: 0;
}

.top {
    display: block;
    padding: 60px;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.heading {
    color: #4e1a40;
}

.top .button {
    margin-top: 50px;
}

.line {
    display: flex;
    margin: 5%;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 40px;
    gap: 5%
}

.activity {
    display: block;
    width: 350px;
    height: auto;
    border: solid 3px rgb(238,238,238);
    background-color: rgba(255, 255, 255, 1);
}

.image {
    display: flex;
    object-fit: cover;
    height: 250px;
    width: 350px;
    
}

.image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.name {
    color: #4e1a40;
    font-weight: 1000;
}

.name, .description {
    font-size: smaller;
    padding-left: 20px;
    padding-right: 20px;
} 

.red {
    display: flex;
    background-color: #dc3545;
    color: rgb(238,238,238);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.05%;
    margin-top: 100px;
    gap: 40px;
}

.red h2 {
    display: block;
    font-weight: bold;
    font-size: 150%;
}

.amount {
    display: flex;
    border: 1px solid;
    margin: 20px;
    height: min-content;
    color:#4e1a40;
    font-size: 100%;
    background-color: rgb(238,238,238);
}

.amount p {
    border: 1px solid;
    padding: 20px;
    margin: 0px;
}

.red .text {
    display: block;
    max-width: 400px;
    text-align: left;
}

.red .button {
    display: block;
    border: 1px solid;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: bold;
    font-size: 175%;
}

